<h1>Enter a number and lets play Ping Pong</h1>
<h2>Rules:</h2>
<ol>
  <li>Numbers divisible by 3 should return "Ping"</li>
  <li>Numbers divisible by 5 should return "Pong"</li>
  <li>Numbers divisible by 7 should return "Ping Pong"</li>
</ol>

<form action='/number'>
<div class="form-group">
    <label for="number">Enter number here:</label>
    <input id="number" name="number" type="text">
  </div>
  <button type="submit" class="btn btn-danger">Ping Pong</button>
</form>
